html, body {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

#timeDiv {
    height: 100%;
    width: 100%;
    padding-top: 1em;

    font-family: "open sans";
    color: white;
    text-align: center;
    font-size: 1vw;
}

#locationDiv {
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 0.8em;
}

#date {
    font-size: 1.5em;
}

#time {
    font-size: 10em;
    font-weight: 300;
    letter-spacing: .02em;
}

#weatherDiv #current {
    font-size: 1.5em;
}

#weatherDiv .icon {
    font-size: 2em;
}