html, body {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

#timeDiv {
    height: 100%;
    width: 100%;
    padding-top: 25px;

    font-family: "open sans";
    color: white;
    text-align: center;
}

#date {
    font-size: 20px;
}

#time {
    font-size: 125px;
    font-weight: 300;
    letter-spacing: 5px;
}